.start {
  .container {
    max-width: 100%;
  }

  &__row {
    position: relative;
  }

  &__image {
    img {
      width: 100%;
      display: block;
    }
  }

  &__extra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__body {
    width: 29%;
    z-index: 2;
  }

  &__title {
    color: #ffffff;
  }

  &__btn {
    background: #ffffff;
    border-radius: 3px;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 13px;
    margin-top: 25px;
  }
}

.harmony {
  .container {
    max-width: 1100px;
  }

  &__title {
    max-width: 660px;
    text-align: center;
    margin: 0 auto;
    margin-top: 125px;
  }

  &__row {
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    width: 25%;
  }
}

.item-harmony {
  padding: 0 18px;

  &__icon {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #787878;
  }
}

.programs {
  margin: 145px 0 0 0;
  // border: 2px solid #54c590;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    // border: 2px solid #87b63c;
    width: 50%;
    padding: 0 20px;
  }

  &__subtitle {
    color: #424242;
    margin-top: 20px;
  }

  &__btn {
    background: #595959;
    border-radius: 3px;
    width: fit-content;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 17px;
    margin-top: 30px;
  }

  &__image {
    width: 50%;
    margin: 0 20px;
    img {
      width: 100%;
    }
    // border: 2px solid #87b63c;
  }
}

.instructors {
  border: 1px solid #87b63c; //--
  margin: 130px 0 0 0;

  &__title {
  }

  &__subtitle {
  }

  &__slider {
  }
}

.subscription {
  margin: 145px 0 0 0;
  // border: 2px solid #54c590;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    // border: 2px solid #87b63c;
    width: 50%;
    padding: 0 20px;
  }

  &__image {
    width: 50%;
    margin: 0 20px; /////////////

    img {
      width: 100%;
    }
    // border: 2px solid #87b63c;
  }

  &__subtitle {
    color: #424242;
    margin-top: 20px;
  }

  &__btn {
    background: #282828;
    border-radius: 3px;
    width: fit-content;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 17px;
    margin-top: 30px;
  }
}

//**************************************************//
@media (max-width: 1000px) {
  .start {
    &__body {
      width: 31%;
      padding: 10px;
    }
    &__btn {
      padding: 10px;
      margin-top: 15px;
    }
  }

  .harmony {
    margin: 60px 0 0 0;

    &__row {
      margin: 40px 0 0 0;
    }

    &__title {
      margin: 0 auto;
      margin-top: 60px;
    }
  }

  .item-harmony {
    padding: 0 18px;

    &__icon {
      height: 64px;
      margin: 0 0 20px 0;
    }

    &__title {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .programs {
    margin: 60px 0 0 0;

    &__body {
      width: 60%;
    }
    &__subtitle {
      margin: 18px 0 0 0;
    }

    &__btn {
      font-size: 14px;
      line-height: 16px;
      padding: 15px;
      margin: 21px 0 0 0;
    }

    &__image {
      width: 40%;
    }
  }

  .subscription {
    margin: 60px 0 0 0;

    &__body {
      width: 60%;
    }
    &__subtitle {
      margin: 18px 0 0 0;
    }

    &__btn {
      font-size: 14px;
      line-height: 16px;
      padding: 15px;
      margin: 21px 0 0 0;
    }

    &__image {
      width: 40%;
    }
  }
}
//**************************************************//
@media (max-width: 600px) {
  .start {
    &__extra {
      position: static;
    }

    &__body {
      width: 100%;
      padding: 10px 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      color: #000000;
      text-align: center;
    }

    &__btn {
      padding: 10px;
      margin-top: 15px;
      text-align: center;
      background: rgb(218, 218, 218);
    }
  }

  .harmony {
    margin: 50px 0 0 0;

    &__title {
      text-align: center;
    }

    &__row {
      flex-direction: column;
      margin: 20px 0 0 0;
    }

    &__column {
      width: 100%;
    }
  }

  .item-harmony {
    padding: 0 18px;

    &__icon {
      height: fit-content;
      margin: 10px;
    }
  }

  .programs {
    margin: 50px 0 0 0;

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__body {
      order: 2;
      width: 100%;
    }

    &__title {
      text-align: center;
      margin: 15px 0 0 0;
    }

    &__subtitle {
      text-align: center;
      margin: 10px 0 0 0;
    }

    &__btn {
      margin: 0 auto;
      padding: 10px;
      margin-top: 15px;
      font-size: 12px;
      line-height: 14px;
    }

    &__image {
      order: 1;
      width: 80%;
    }
  }

  .subscription {
    margin: 50px 0 0 0;

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__body {
      order: 2;
      width: 100%;
    }

    &__title {
      text-align: center;
      margin: 15px 0 0 0;
    }

    &__subtitle {
      text-align: center;
      margin: 10px 0 0 0;
    }

    &__btn {
      margin: 0 auto;
      padding: 10px;
      margin-top: 15px;
      font-size: 12px;
      line-height: 14px;
    }

    &__image {
      order: 1;
      width: 80%;
    }
  }
}
