@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "nullstyle";
@import "header";
@import "footer";
@import "index";

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;

  @media (max-width: 1000px) {
    position: relative;
    &.lock {
      overflow: hidden;
    }
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
    color: currentColor;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    max-width: 960px;
  }
  @media (max-width: 600px) {
    max-width: 560px;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  @media (max-width: 1000px) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  @media (max-width: 350px) {
    font-size: 15px;
    line-height: 18px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 25px;

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.hidden {
  @media (max-width: 425px) {
    display: none;
  }
}
